html, body
{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas
{
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#image
{
  opacity: 0;
}

#photo
{
  opacity: 0;
}
